<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{metaDescription}}">
<meta charset="UTF-8">
<head>
  <title>{{ config.siteName }} | {{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  {% include 'favicons.html' %}
</head>
<style>
  .content {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content pre {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 1.25em 1.5em;
    white-space: pre;
    word-wrap: normal;
    background-color: rgba(204, 204, 204, 0.685);
    border-radius: 8px;
  }
</style>
{% include 'header.html' %}
<div id="content" class="container is-max-desktop">
  <div class="content">
    <h1> {{ title }} </h1>
    <h3> {{ subtitle }} </h3>
    {{ content }}
  </div>
</div>
{% include 'footer.html' %}
</html>