<script src="https://kit.fontawesome.com/a4acccbcb3.js" crossorigin="anonymous"></script>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img id="logo" src="{{config.logo}}" height="95">
    </a>

    <a id="mainMenuBurger" role="button" class="navbar-burger is-dark" aria-label="menu" aria-expanded="false" data-target="mainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainMenu" class="navbar-menu">
    <div class="navbar-start" id="navbar-links">
      {% for item in config.navbarItems %}
      <a class="navbar-item" href="{{item.href}}">{{item.text}}</a>
      {% endfor %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark is-large" href="{{config.socials.github}}">
            <i class="fa-brands fa-github"></i>
          </a>
          <a class="button is-dark is-large" href="{{config.socials.twitter}}">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>

<script>
  const mainMenu = document.getElementById('mainMenu');
  const navbarBurger = document.getElementById('mainMenuBurger');

  navbarBurger.addEventListener('click', (event) => {
    mainMenuBurger.classList.toggle('is-active');
    mainMenu.classList.toggle('is-active');
  });
</script>