<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img id="logo" src="{{config.logo}}" height="95">
    </a>

    <a id="mainMenuBurger" role="button" class="navbar-burger is-dark" aria-label="menu" aria-expanded="false" data-target="mainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainMenu" class="navbar-menu">
    <div class="navbar-start" id="navbar-links">
      {% for item in config.navbarItems %}

      {% if item.items %}
      <div class="navbar-item has-dropdown is-hoverable is-dark">
        <a class="navbar-link">
          {{item.text}}
        </a>
        <div class="navbar-dropdown is-dark">
          {% for dropdownItem in item.items %}
          <a class="navbar-item" href="{{dropdownItem.href}}">
            {{dropdownItem.text}}
          </a>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <a class="navbar-item" href="{{item.href}}">{{item.text}}</a>
      {% endif %}
      {% endfor %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="socials">
          {% for social in config.socials %}
          <a href="{{social[1]}}">
            <i class="fa-brands fa-{{social[0]}}"></i>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</nav>

<script>
  const mainMenu = document.getElementById('mainMenu');
  const navbarBurger = document.getElementById('mainMenuBurger');

  navbarBurger.addEventListener('click', (event) => {
    mainMenuBurger.classList.toggle('is-active');
    mainMenu.classList.toggle('is-active');
  });
</script>