@import "./bulma.css";
@import "/static/icons/style.css";

body {
  font-size: 18px;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
  }
}

.tags {
  display: flex;
  align-items: baseline;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 18px;
  margin-top: 1rem;
}

.hero-container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 1344px;
}

.hero.is-gradient {
  background: linear-gradient(305deg, rgb(91, 89, 89) 0%, rgb(86, 86, 86) 100%);
}

.hero-body .title {
  color: #FFF
}

.hero-body .subtitle {
  color: #FFF
}

.container {
  min-height: 75vh;
}

.navbar-menu.is-active {
  overflow: hidden;
  animation: openAnimation 0.4s ease;
}

@keyframes openAnimation {
  0% {
    max-height: 0;
    padding: 0;
  }

  100% {
    max-height: 475px;
    padding: 0.5rem 0;
  }
}

.navbar-menu.is-active.closing {
  animation: closeAnimation 0.2s ease;
}

@keyframes closeAnimation {
  0% {
    max-height: 475px;
  }

  100% {
    max-height: 0px;
    padding: 0;
  }
}

.socials {
  font-size: 22px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.socials a {
  color: #363636;
  display: inline-block;
  margin-right: 1rem;
}

.navbar-menu .socials a {
  color: #ffffff;
}

@media (max-width: 1024px) {
  .navbar-menu .socials a {
    color: #363636;
  }
}

.socials a:hover {
  transform: scale(1.2);
}

.footer .socials {
  margin-bottom: 1rem;
}

.footer .socials a {
  color: #363636;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3rem 1rem;
}

@media (max-width: 520px) {
  .card-list {
    margin: 0;
  }
}

.media-card {
  position: relative;
  min-width: 410px;
  min-height: 500px;
  max-width: 410px;
  max-height: 500px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  margin: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 520px) {
  .media-card {
    min-width: 95%;
    max-width: 95%;
    margin: 1rem;
  }
}

.media-card:hover {
  outline: 1px solid purple;
  background: rgba(100, 100, 100, 0.2);
  transition: 0.3s;
}

.media-card-title {
  box-sizing: border-box;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  /* Black see-through */
  color: white;
  font-size: 1.5rem;
  padding: 15px;
  text-align: left;
  border-radius: 5px 5px 0 0;
  margin: auto;
  width: 100%;
}

.media-card-load {
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  max-height: 300px;
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgba(80, 80, 80, 0.3);
  }

  50% {
    background-color: rgba(80, 80, 80, 0.75);
  }

  100% {
    background-color: rgba(80, 80, 80, 0.3);
  }
}

.media-card-load>img {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.media-card-loaded>img {
  opacity: 100;
}

.media-card img {
  border-radius: 5px 5px 0 0;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  display: block;
}

.media-card-content {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.media-card i {
  font-size: 1.5rem;
  padding: 0 5px 0 0;
}

.media-card-buttons {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  /* Black see-through */
  color: white;
  font-size: 1.5rem;
  padding: inherit;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card-button {
  background-color: #fa5c5c;
  border: none;
  color: white;
  margin-right: 5px;
  padding: 4px 29px 9px 11px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}


.card-button:first-child {
  border-radius: 0 0 0 5px;
}

.card-button:hover {
  background-color: #e94747;
  color: white;
  transition: 0.3s;
}

.strike {
  text-decoration: line-through
}