<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<head>
  <title>{{ config.siteName }} | Assets</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

{% include 'header.html' %}

<div class="container has-text-centered">
  <div class="tabs is-toggle is-toggle-rounded is-centered">
    <ul>
      <li id="all-tab" class="is-active"><a href="all">All</a></li>
      <li id="premium-tab"><a href="premium">Premium Plugins</a></li>
      <li id="free-tab"><a href="free">Free Plugins</a></li>
    </ul>
  </div>
  <h1 class="title">Assets</h1>
  <h2 class="subtitle">Discover our diverse collection of high-quality assets</h2>
  <div class="card-list">

    <!-- --------------- -->
    <!--  Free Plugins   -->
    <!-- --------------- -->
    {% for plugin in freePluginData %}
    <div class="media-card" data-type="free">
      <div class="media-card-load">
        <img src="{{plugin.thumbnail}}" loading="lazy" alt="Plugin Thumbnail">
      </div>

      <div class="media-card-content">
        {{plugin.shortText}}
      </div>

      <div class="media-card-buttons">
        <a class="card-button" href={{plugin.link}}>
          <i class="iconoir-itch"></i>
          Download
        </a>
      </div>
    </div>
    {% endfor %}

    <!-- --------------- -->
    <!-- Premium Plugins -->
    <!-- --------------- -->
    {% for plugin in pluginData %}

    <div class="media-card" data-type="premium">
      <div class="media-card-load">
        <img src="{{plugin.thumbnail}}" loading="lazy" alt="Plugin Image">
      </div>

      <div class="media-card-content">
        {{plugin.shortText}}
        <br>
        <div>
          {% if plugin.saleRate %}
          <i class="fa fa-tag"></i><small class="strike">{{plugin.price}}</small> <strong>${{plugin.salePrice}} </strong><small>USD</small> | On Sale! <b>{{plugin.saleRate}}% off!</b>
          {% else %}
          <strong>{{plugin.price}} <small>USD</small></strong>
          {% endif %}
        </div>
      </div>

      <div class="media-card-buttons">
        <a class="card-button" href={{plugin.link}}>
          <i class="iconoir-itch"></i>
          Buy
        </a>
      </div>
    </div>

    {% endfor %}

  </div>
</div>

<script>
  const imgDivs = document.querySelectorAll('.media-card-load');
  const tabButtons = document.querySelectorAll('.tabs li');
  let filter = 'premium';

  tabButtons.forEach((button) => {
    button.addEventListener('click', () => {
      event.preventDefault();
      tabButtons.forEach((button) => {
        button.classList.remove('is-active');
      });
      button.classList.add('is-active');
      filter = button.id.replace('-tab', '')
      updatePlugins();
    });
  });

  imgDivs.forEach((imgDiv) => {
    const img = imgDiv.querySelector('img');
    img.addEventListener('load', () => {
      // imgDiv.classList.remove('media-card-load');
      imgDiv.classList.add('media-card-loaded');
    });
  });

  function updatePlugins () {
    const allPlugins = document.querySelectorAll('.media-card');
    allPlugins.forEach((plugin) => {
      const type = plugin.getAttribute('data-type');
      if ((filter === 'premium' && type === 'premium') || (filter === 'free' && type === 'free')
        || filter === 'all') {
        plugin.style.display = 'flex';
      } else {
        plugin.style.display = 'none';
      }
    });
  }
</script>
{% include 'footer.html' %}

</html>