---
eleventyImport:
collections: ["post"]
pagination:
  data: collections.post
  size: 6
  alias: posts
---
{% layout 'layouts/base.html' %}\

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block body %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="hero-container is-max-desktop">
      <p class="title"> Blog </p>
    </div>
  </div>
</section>
<div class="container">
  {% include 'components/tags.html' with assign allPostTags = true %}
  {% include 'components/pagination.html' %}
  <div class="posts">
    {%- for post in posts -%}
    <a href="{{post.url}}">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ post.data.coverImage }}" alt="Blog Post Cover Image">
          </figure>
        </div>
        <div class="card-content">
          {% assign dateString = post.data.dateString %}
          {% assign author = config.authors[post.data.author] %}
          {% include 'components/author.html' %}

          <div class="content">
            <p class="title is-4">{{ post.data.title }}</p>
            <p>{{ post.data.description }}</p>
          </div>
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>
  {% include 'components/pagination.html' %}
</div>
</div>
{% endblock %}