---
eleventyImport:
collections: ["post"]
---

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{metaDescription}}">
<meta charset="UTF-8">

<head>
  <title>{{ config.siteName }} Blog</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  {% include 'favicons.html' %}
</head>
<style>
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .posts .card {
    box-shadow: 0 0 0 0 rgba(10, 10, 10, 0.1), 0 0 0 0 rgba(10, 10, 10, 0.02);
  }

  .posts .card:hover .card-image img {
    filter: brightness(115%);
    transition: filter 0.3s;
  }

  .posts .card-image img {
    transition: filter 0.3s;
    filter: brightness(95%);
    box-shadow: 0 5px 10px -3px #00000078;
  }
</style>
{% include 'header.html' %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="hero-container is-max-desktop">
      <p class="title"> Blog </p>
    </div>
  </div>
</section>
<div class="container">
  <div class="block">
    <h3>Categories</h3>
    <span class="tag is-dark is-rounded">All</span>
    <span class="tag is-dark is-rounded">News</span>
    <span class="tag is-dark is-rounded">Tutorial</span>
    <span class="tag is-dark is-rounded">Game</span>
    <span class="tag is-dark is-rounded">Asset</span>
    <span class="tag is-dark is-rounded">Events</span>
    <span class="tag is-dark is-rounded">Showcase</span>
  </div>
  <div class="block">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
      </ul>
    </nav>
  </div>
  <div class="posts">
    {%- for post in collections.post -%}
    <a href="{{post.url}}">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ post.data.image }}" alt="Blog Post Thumbnail">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-24x24 is-rounded">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="subtitle is-6">@{{ post.data.author }} - {{post.data.dateString}}</p>
            </div>
          </div>

          <div class="content">
            <p class="title is-4">{{ post.data.title }}</p>
            {{ post.data.description }}
            <br>
          </div>
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>
  <div class="block">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
      </ul>
    </nav>
  </div>
</div>
{% include 'footer.html' %}

</html>