<!DOCTYPE html>
<head>
  {% include 'components/head.html' %}
</head>

{% include 'components/header.html' %}

<div class="container has-text-centered">
  <h1 class="title">Games</h1>
  <h2 class="subtitle">Embark on a journey through our game collection</h2>
  <div class="card-list">
    <!-- --------------- -->
    <!-- Games -->
    <!-- --------------- -->
    {% for game in gameData %}

    <div class="media-card" data-type="premium">
      <div class="media-card-load">
        <img src="{{game.thumbnail}}" width="315" height="250" loading="lazy" alt="Game thumbnail for {{game.title}}">
      </div>

      <div class="media-card-content">
        {{game.shortText}}
      </div>

      <div class="media-card-buttons">
        <a class="card-button" href={{game.link}}>
          <i class="iconoir-itch"></i>
          View
        </a>
      </div>
    </div>

    {% endfor %}

  </div>
</div>

<script>
  const imgDivs = document.querySelectorAll('.media-card-load');

  imgDivs.forEach((imgDiv) => {
    const img = imgDiv.querySelector('img');
    img.addEventListener('load', () => {
      // imgDiv.classList.remove('media-card-load');
      imgDiv.classList.add('media-card-loaded');
    });
  });
</script>
{% include 'components/footer.html' %}

</html>