<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="LTN Games an indie studio crafting games and assets with RPG Maker, Godot and more">
  <meta charset="UTF-8">
  <head>
    <title>{{ config.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% include 'favicons.html' %}
  </head>
{% include 'header.html' %}
<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div>
      <p class="title">
        LTN Games
      </p>
      <p id="tagline" class="subtitle">
        {{config.taglines[0]}}
      </p>
    </div>
  </div>
</section>
<script>
  const taglineElement = document.getElementById("tagline");

  const allTaglines = {{ config.taglines | tojson }};

  function getRandomTagline () {
    const randomIndex = Math.floor(Math.random() * allTaglines.length);
    return allTaglines[randomIndex];
  }

  taglineElement.textContent = getRandomTagline();
</script>
{% include 'footer.html' %}
</html>