<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="LTN Games an indie studio creating games and assets for RPG Maker, Godot and more">
  <meta charset="UTF-8">
  <head>
    <title>{{ config.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% include 'favicons.html' %}
  </head>
{% include 'header.html' %}
<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div>
      <p class="title">
        LTN Games
      </p>
      <p class="subtitle">
        A small indie game studio creating games and resources for everyone.
      </p>
    </div>
  </div>
</section>
{% include 'footer.html' %}
</html>